<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Shopping</span>
    <a mat-button routerLink=".">Products</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/cart"
      ><mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        [matBadge]="service.cartList.length"
        matBadgePosition="before"
        matBadgeColor="accent"
        [matBadgeHidden]="badgeVal == 0"
        >shopping_cart</mat-icon
      ></a
    >
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
