.container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto;
}

.item {
  border: 1px solid #e7e7e7;
  padding: 10px;
}
.header {
  color: #3f3f3f;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 1200px) and (min-width: 700px) {
  .container {
    grid-template-columns: auto auto;
  }
}
